<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cottontomatoclassifierapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/classifier"
        android:label="@string/app_name"
        android:roundIcon="@drawable/classifier"
        android:supportsRtl="true"
        android:theme="@style/Theme.CottonTomatoClassifierApp">
    <activity
        android:name=".PlantDiseaseClassifierActivity"
        android:screenOrientation="nosensor" />

    <activity
        android:name=".MainActivity"
        android:screenOrientation="nosensor" />

    <activity
        android:name=".SplashActivity"
        android:exported="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.CottonTomatoClassifierApp.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <meta-data
        android:name="preloaded_fonts"
        android:resource="@array/preloaded_fonts" />
    </application>

</manifest>